<style>
  img {
    padding-bottom: 0px;
    display: block;
    position: absolute;
  }

  @font-face {
    font-family: "league-spartan.bold";
    src: url('../assets/fonts/league-spartan.bold.ttf');
    font-weight: 500;
  }

  #text {
    z-index: 100;
    position: absolute;
    font-family: 'league-spartan.bold', sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: white;
    top: 10px;
    left: 25px;
  }

</style>

<ion-content [fullscreen]="true">
  <app-header></app-header>
  <p id="text">GET TO KNOW ME</p>
</ion-content>
