<style>
  img {
    padding-bottom: 0px;
    display: block;
    position: absolute;
  }

  @font-face {
    font-family: "league-spartan.bold";
    src: url('../assets/fonts/league-spartan.bold.ttf');
    font-weight: 500;
  }

  @font-face {
    font-family: "glacial-indifference.regular";
    src: url('../assets/fonts/glacial-indifference.regular.otf');
  }

  #text {
    z-index: 100;
    position: absolute;
    font-family: 'league-spartan.bold', sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: white;
    top: 3px;
    left: 25px;
  }

  @-webkit-keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}@keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}
  #likes {
    -webkit-animation:swing-in-top-fwd .5s cubic-bezier(.175,.885,.32,1.275) both;animation:swing-in-top-fwd .5s cubic-bezier(.175,.885,.32,1.275) both;
    z-index: 100;
    position: absolute;
    top: 150px;
    height: 200px;
    border-radius: 15px;
    width: 95%;
  }

  #dislikes {
    -webkit-animation:swing-in-top-fwd .5s cubic-bezier(.175,.885,.32,1.275) both;animation:swing-in-top-fwd .5s cubic-bezier(.175,.885,.32,1.275) both;
    z-index: 100;
    position: absolute;
    top: 370px;
    height: 200px;
    border-radius: 15px;
    width: 95%;
  }

  ion-card-header{
    font-family: 'league-spartan.bold', sans-serif;
    background-color: #004aad;
    border-radius: 15px;
  }

  ion-card-title{
    color: white;
  }

  ion-card-content{
    font-family: 'glacial-indifference.regular', sans-serif;
    font-size: 17px;
    margin-top: 7px;
  }

</style>

<ion-content [fullscreen]="true">

  <app-header></app-header>
  <p id="text">LIKES & DISLIKES</p>

  <ion-card id ="likes">
    <ion-card-header>
      <ion-card-title><ion-icon name="thumbs-up-outline"></ion-icon>  LIKES</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ul *ngFor = "let item of interest">
        <li *ngIf="item.kind === 0">{{item.name}}</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card id="dislikes">
    <ion-card-header>
      <ion-card-title><ion-icon name="thumbs-down-outline"></ion-icon>  DISLIKES</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ul *ngFor = "let item of interest">
        <li *ngIf="item.kind === 1">{{item.name}}</li>
      </ul>
    </ion-card-content>
  </ion-card>

</ion-content>
