<style>
  img {
    padding-bottom: 0px;
    display: block;
    position: absolute;
  }

  @font-face {
    font-family: "league-spartan.bold";
    src: url('../assets/fonts/league-spartan.bold.ttf');
    font-weight: 500;
  }

  @font-face {
    font-family: "glacial-indifference.regular";
    src: url('../assets/fonts/glacial-indifference.regular.otf');
  }

  #text {
    z-index: 100;
    position: absolute;
    font-family: 'league-spartan.bold', sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: white;
    top: 10px;
    left: 25px;
  }

  #likes {
    z-index: 100;
    position: absolute;
    top: 150px;
    height: 200px;
    border-radius: 15px;
  }

  #dislikes {
    z-index: 100;
    position: absolute;
    top: 370px;
    height: 200px;
    border-radius: 15px;
  }

  ion-card-header{
    font-family: 'league-spartan.bold', sans-serif;
    background-color: #004aad;
    border-radius: 15px;
  }

  ion-card-title{
    color: white;
  }

  ion-card-content{
    font-family: 'glacial-indifference.regular', sans-serif;
    margin-top: 7px;
  }

</style>

<ion-content [fullscreen]="true">
  <app-header></app-header>
  <p id="text">LIKES & DISLIKES</p>

  <ion-card id ="likes">
    <ion-card-header>
      <ion-card-title>LIKES</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card id="dislikes">
    <ion-card-header>
      <ion-card-title>DISLIKES</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-content>
