<style>

  @font-face {
    font-family: "league-spartan.bold";
    src: url('../assets/fonts/league-spartan.bold.ttf');
    font-weight: 500;
  }

  #text {
    position: absolute;
    font-family: 'league-spartan.bold', sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: white;
    top: 3px;
    left: 30%;
  }

  @-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
  #greeting {
    -webkit-animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;
    position: absolute;
    font-family: 'league-spartan.bold', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: black;
    top: 85px;
    left: 20px;
    line-height: 50px;
  }

  @-webkit-keyframes scale-up-ver-bottom{0%{-webkit-transform:scaleY(.4);transform:scaleY(.4);-webkit-transform-origin:0 100%;transform-origin:0 100%}100%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:0 100%;transform-origin:0 100%}}@keyframes scale-up-ver-bottom{0%{-webkit-transform:scaleY(.4);transform:scaleY(.4);-webkit-transform-origin:0 100%;transform-origin:0 100%}100%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:0 100%;transform-origin:0 100%}}  
  #content {
    -webkit-animation:scale-up-ver-bottom .7s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-ver-bottom .7s cubic-bezier(.39,.575,.565,1.000) both;
    position: absolute;
    top: 335px;
    background-color: #5b88c9;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height:100%;
    width: 100%;
  }

  #pic {
    width: 340px;
    padding-top: 5px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

</style>

<ion-content [fullscreen]="true">

  <app-header></app-header> 
  <p id="text">WELCOME</p>
  <p id="greeting">Hi!<br>I'm {{name1}}<br>{{name2}}<br>{{name3}}</p>

  <div id="content">
    <ion-row class="ion-align-items-center">
    <ion-col>
      <center>
      <img src="./assets/images/1.jpg" id="pic"/>
      </center>
    </ion-col>
  </ion-row>
  </div>

</ion-content>
