<style>

  @font-face {
    font-family: "league-spartan.bold";
    src: url('../assets/fonts/league-spartan.bold.ttf');
    font-weight: 500;
  }

  #text {
    z-index: 100;
    position: absolute;
    font-family: 'league-spartan.bold', sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: white;
    top: 3px;
    left: 32%;
  }

  #row1 {
    z-index: 100;
    position: absolute;
    margin-top: 10%;
  }

  #row2 {
    z-index: 100;
    position: absolute;
    margin-top: 43%;
  }

  #row3 {
    z-index: 100;
    position: absolute;
    margin-top: 77%;
  }

  #row4 {
    z-index: 100;
    position: absolute;
    margin-top: 110%;
  }

  img{
    border-radius: 6px;
  }

  @-webkit-keyframes scale-up-ver-bottom{0%{-webkit-transform:scaleY(.4);transform:scaleY(.4);-webkit-transform-origin:0 100%;transform-origin:0 100%}100%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:0 100%;transform-origin:0 100%}}@keyframes scale-up-ver-bottom{0%{-webkit-transform:scaleY(.4);transform:scaleY(.4);-webkit-transform-origin:0 100%;transform-origin:0 100%}100%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:0 100%;transform-origin:0 100%}}  
  #content {
    -webkit-animation:scale-up-ver-bottom .7s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-ver-bottom .7s cubic-bezier(.39,.575,.565,1.000) both;
    position: absolute;
    top: 150px;
    background-color: #5b88c9;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height:75%;
    width: 100%;
  }


</style>

<ion-content [fullscreen]="true">
  <app-header></app-header>
  <p id="text">GALLERY</p>
  <div id="content">
  <ion-row class="ion-align-items-center" id="row1">
    <ion-col>
      <img src="./assets/images/1.jpg"/>
    </ion-col>
    <ion-col>
      <img src="./assets/images/2.jpg"/>
    </ion-col>
    <ion-col>
      <img src="./assets/images/3.jpg"/>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center" id="row2">
    <ion-col>
      <img src="./assets/images/4.jpg"/>
    </ion-col>
    <ion-col>
      <img src="./assets/images/5.png"/>
    </ion-col>
    <ion-col>
      <img src="./assets/images/6.jpg"/>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center" id="row3">
    <ion-col>
      <img src="./assets/images/7.jpg"/>
    </ion-col>
    <ion-col>
      <img src="./assets/images/8.jpg"/>
    </ion-col>
    <ion-col>
      <img src="./assets/images/9.jpg"/>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center" id="row4">
    <ion-col>
      <img src="./assets/images/10.jpg"/>
    </ion-col>
    <ion-col>
      <img src="./assets/images/11.jpg"/>
    </ion-col>
    <ion-col>
      <img src="./assets/images/12.jpg"/>
    </ion-col>
  </ion-row>

</div>
</ion-content>
